body{
    background-color: hsl(0, 4%, 87%);
}

form{
    background-color: hsl(180, 15%, 94%);
    text-align: center;
    max-width: 400px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
}

button{
    background-color: red;
    color: aliceblue;
    font-weight: 600;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

button:hover{
    background-color: gainsboro;
    color: blue;
}